@import './css/fonts.css';
@import 'normalize.css';
@import './css/icons.pcss';
@import './css/input.pcss';
@import './css/form.pcss';
@import './css/main.pcss';
@import './css/header.pcss';
@import './css/sidebar.pcss';
@import './css/login.pcss';
@import './css/modal.pcss';
@import './css/table.pcss';
@import './css/tooltip.pcss';
@import './css/loader.pcss';
